[Unit]
Description=NexaHost Discord Pterodactyl Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/vps
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5
Environment=NODE_ENV=production
StandardOutput=append:/root/vps/bot.log
StandardError=append:/root/vps/bot.log

[Install]
WantedBy=multi-user.target
